name: Entangled literate CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container:
      image: ghcr.io/viluon/special-entangled:latest
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.ghcr_token }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: tangle
        run: |
          source /root/.bashrc
          bash --version
          cabal --version
          cargo --version
          pandoc --version
          zsh --version
          locale

          apt-get install -y --no-install-recommends \
            librsvg2-bin lmodern rsync texlive-fonts-recommended texlive-xetex wget

          cd 1-exact-knapsack/
          wget -O cpufetch https://github.com/Dr-Noob/cpufetch/releases/download/v1.00/cpufetch_x86-64_linux
          chmod +x cpufetch
          ./ci.sh
      - name: upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: 1-exact-knapsack/docs/
      - name: test
        run: |
          cd 1-exact-knapsack/solver/
          QUICKCHECK_TESTS=10000 cargo test -- --show-output
      - name: deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: 1-exact-knapsack/docs/
