name: Entangled literate CI
on:
  push:
    branches: [main, setup/*]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viluon/special-hs-rs-dev:latest
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.ghcr_token }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: tangle
        run: |
          dir=$(pwd)/1-exact-knapsack
          cd /; patch -p0 < $dir/doctest.patch
          cd $dir
          cargo install hyperfine
          make site
      - name: upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: 1-exact-knapsack/docs/
