name: Entangled literate CI
on:
  push:
    branches: [main, setup/*]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container:
      image: ghcr.io/viluon/special-entangled:latest
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.ghcr_token }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: tangle
        run: |
          cd 1-exact-knapsack/
          ./ci.sh
      - name: upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: 1-exact-knapsack/docs/
